.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 2rem 10%;
  padding: 1rem 0;

  list-style: none;
  text-align: center;
  border-bottom: 2px solid black;
}

.navList a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
