.post {
  position: relative;
  padding: 20px;
  height: 250px;
  width: 300px;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #6b416b;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-7px, 7px);
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

.title {
  max-height: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.message {
  height: 125px;
  font-size: 18px;
  text-align: center;
  color: white;
  overflow-y: scroll;
}
